{% extends "base.html" %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
<h1>Оформление заказа</h1>

<form method="POST" class="checkout-form">
    {{ form.hidden_tag() }}
    
    <fieldset>
        <legend>Получатель</legend>
        
        <div class="form-group">
            {{ form.first_name.label }}
            {{ form.first_name(class="form-control") }}
            {% if form.first_name.errors %}
                <div class="errors">{% for error in form.first_name.errors %}<span class="error">{{ error }}</span>{% endfor %}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.last_name.label }}
            {{ form.last_name(class="form-control") }}
            {% if form.last_name.errors %}
                <div class="errors">{% for error in form.last_name.errors %}<span class="error">{{ error }}</span>{% endfor %}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.address.label }}
            {{ form.address(class="form-control", placeholder="Улица, дом, квартира") }}
            {% if form.address.errors %}
                <div class="errors">{% for error in form.address.errors %}<span class="error">{{ error }}</span>{% endfor %}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.phone.label }}
            {{ form.phone(class="form-control", placeholder="+7 (999) 123-45-67") }}
            {% if form.phone.errors %}
                <div class="errors">{% for error in form.phone.errors %}<span class="error">{{ error }}</span>{% endfor %}</div>
            {% endif %}
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Способ оплаты</legend>
        
        <div class="form-group radio-group">
            {% for subfield in form.payment_method %}
                <div class="radio-item">
                    {{ subfield() }}
                    {{ subfield.label }}
                </div>
            {% endfor %}
            {% if form.payment_method.errors %}
                <div class="errors">{% for error in form.payment_method.errors %}<span class="error">{{ error }}</span>{% endfor %}</div>
            {% endif %}
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Дополнительно</legend>
        
        <div class="form-group">
            {{ form.comment.label }}
            {{ form.comment(class="form-control", rows=4, placeholder="Пожелания к заказу...") }}
            {% if form.comment.errors %}
                <div class="errors">{% for error in form.comment.errors %}<span class="error">{{ error }}</span>{% endfor %}</div>
            {% endif %}
        </div>
    </fieldset>
    
    <div class="form-group">
        {{ form.submit(class="btn btn-large") }}
    </div>
</form>
{% endblock %}