{% extends "base.html" %}

{% block title %}Статус заказа{% endblock %}

{% block content %}
<div class="order-status-page">
    <h1>Статус заказа №12345</h1>

    <div class="status-layout">
        <div class="map-section">
            <h2>Карта доставки</h2>
            <div class="map-placeholder">
                <p class="map-note">г. Москва, ул. Пушкина, д. 10(еще карта будет от static map)</p>
            </div>
        </div>

        <div class="order-info">
            <h2>Информация о заказе</h2>

            <div class="info-card">
                <h3>Статус доставки</h3>
                <div class="progress">
                    <div class="step completed">.</div>
                    <div class="step completed">.</div>
                    <div class="step active">3</div>
                    <div class="step">4</div>
                </div>
                <p class="current-status">Текущий этап: Курьер выехал</p>
            </div>

            <div class="info-card">
                <h3>Детали заказа</h3>
                <table class="order-details">
                    <tr><td>Номер заказа:</td><td>12345</td></tr>
                    <tr><td>Дата заказа:</td><td>дата</td></tr>
                    <tr><td>Сумма:</td><td>111</td></tr>
                    <tr><td>Способ оплаты:</td><td>Карта онлайн</td></tr>
                    <tr><td>Адрес доставки:</td><td>aдремс</td></tr>
                    <tr><td>Курьер:</td><td>Иван ( +7 (999) 123-45-67 )</td></tr>
                </table>
            </div>

            <div class="info-card">
                <h3>Состав заказа</h3>
                <ul class="order-items">
                    <li>Футболка  (M) × 2 — 322 </li>
                    <li>Джинсы (30) × 1 — 3</li>
                    <li>Куртка(L) × 1 — 599</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}