{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="reset-container">
    <h1>Восстановление пароля</h1>

    <form method="POST" class="simple-form">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <label>{{ form.email.label }}</label>
            {{ form.email(class="form-control", placeholder="your@email.com") }}
        </div>


        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>

    <p class="form-note">Введите почту для отправки инструкций по сбросу пароля</p>
</div>
{% endblock %}